* {
    font-family: Helvetica;
}

.title {
    height: auto;
    width: auto;
    text-align: center;
    font-size: 50px;
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg');
    font-weight: bold;
    color: khaki;
}

.brush-container {
    background-color: mediumspringgreen;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.product-info h3 {
    font-weight: bold;
}

.price {
    font-weight: bold;
    color: blue;
}

.frame-container {
    background-color: lightcoral;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.paint-container {
    background-color: skyblue;
    font-size: 32px;
    font-weight: bold;
    color: white;
}